.contact{
    .container{
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100vh;
        form{
            padding: 2rem;
            // border: 1px solid red;
            background-color: rgb(148, 185, 93);
        }
        form > *{
            display: flex;
            flex-direction: column;
            padding: 0.5rem 0;
        }
    }

}